.footer-contacts {
    text-align: right;
    color: #333D51;
}

.made-by{
    font-size: 12px;
    line-height: 15px;
}

.developer {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}